main {
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 15px;

  border: 3px solid black;
  border-radius: 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

span {
  border: 1px solid rgb(8, 41, 4);
  padding: 2px;
  color: rgb(4, 72, 8);
}
